nav {
  display: flex;
  height: 120px;
  width: 100%;
  align-items: center;
  font-weight: bold;
  z-index: 99999;
  position: relative;
}

.nav-items {
  width: 700px;
  margin-left: 70px;
  padding: 5px;
}

.nav-items ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  position: relative;
}

.nav-items > ul ul {
  display: none;
  background: #ffa800;
  position: absolute;
}

.nav-items > ul > li {
  position: relative;
}

.nav-items > ul > li > a {
  height: 30px;
}

.nav-items a {
  text-decoration: none;
  color: inherit;
}

.nav-items a:hover {
  color: #a452ff;
}

.subnav-display > ul.sublist,
.sublist:hover {
  display: block;
}

.sublist {
  padding: 10px;
}

.sublist > li {
  padding: 0px 10px 10px 0px;
}

.nav-logo {
  width: 278px;
  height: 108px;
  object-fit: contain;
  margin-left: 85px;
}

.highlight::before {
  content: "";
  background-color: #7de634;
  height: 46px;
  width: 130%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: -1;
}
