.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Page Layout and Themes*/
.header {
  font-size: 50px;
  font-weight: bold;
  line-height: 59px;
  margin-top: 0px;
}

.sub-header {
  font-size: 40px;
  margin-top: 0px;
  list-style: none;
  list-style-type: none;
  padding: 0;
}

.small-header {
  font-size: 32px;
  font-weight: bold;
}

.list-no-style {
  list-style: none;
  list-style-type: none;
  padding: 0;
}

.section {
  width: 90%;
  height: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 0px 5px 0px;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: 15px 0px 15px 0px;
}

.col-2 {
  width: 42%;
}

.text-primary {
  color: #169fff;
}

.text-secondary {
  color: #a452ff;
}

.text-tertiary {
  color: #ffa800;
}

.center {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  background: #169fff;
  font-weight: bold;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
  width: 280px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background: #169fff;
}

.btn-secondary {
  background: #a452ff;
}

/* Components*/

/* Stats Component */
.stats > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.stats > ul > li {
  width: 30%;
}

.stats > ul > li > span {
  font-size: 48px;
  font-weight: bold;
}

.stats > ul > li {
  font-size: 32px;
}

.stats > ul > li > hr {
  border: 4px solid;
}

/* CTA Box */

.cta-box {
  width: 580px;
  height: 300px;
  border: 8px solid;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.cta-box > * {
  margin: 15px;
}

.cta-box > p {
  color: black;
}
