.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Page Layout and Themes*/
.header {
  font-size: 50px;
  font-weight: bold;
  line-height: 59px;
  margin-top: 0px;
}

.sub-header {
  font-size: 40px;
  margin-top: 0px;
}

.small-header {
  font-size: 32px;
  font-weight: bold;
}

.list-no-style {
  list-style: none;
  list-style-type: none;
  padding: 0;
}

.section {
  width: 90%;
  height: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 0px 5px 0px;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: 15px 0px 15px 0px;
}

.col-2 {
  width: 43%;
}

.text-primary {
  color: #169fff;
}

.text-secondary {
  color: #a452ff;
}

.text-tertiary {
  color: #ffa800;
}

.center {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  background: #169fff;
  font-weight: bold;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
  width: 280px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  opacity: 0.7;
  transition: opacity 1s;
}

.btn-primary {
  background: #169fff;
}

.btn-secondary {
  background: #a452ff;
}

/***   COMPONENTS   ***/

/**     BANNERS    **/

/* Home Page Banner */
.banner-hp {
  width: 100%;
  height: 402px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner-hp > img {
  width: 800px;
}

.banner-hp > p {
  position: absolute;
  bottom: 0%;
  font-size: 28px;
}

/* Stats Component */
.stats > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.stats > ul > li {
  width: 30%;
}

.stats > ul > li > span {
  font-size: 48px;
  font-weight: bold;
}

.stats > ul > li {
  font-size: 32px;
}

.stats > ul > li > hr {
  border: 4px solid;
}

/* CTA Box */

.cta-box {
  width: 580px;
  height: 300px;
  border: 8px solid;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.cta-box > * {
  margin: 15px;
}

.cta-box > p {
  color: black;
}

/*   Banner Media   */
.banner-media {
  width: 100%;
  height: 535px;
  padding: 30px 0px 0px 120px;
  color: white;
  font-weight: bold;
  position: relative;
  background-size: cover;
}

.banner-media > p:nth-child(1) {
  font-size: 24px;
}

.banner-media > h1 {
  font-size: 50px;
  position: relative;
  top: 23%;
  transform: translateY(-40%);
}

.banner-media > div:nth-of-type(1) {
  position: relative;
  top: 30%;
  font-size: 20px;
}

.banner-media > div:nth-of-type(1) > hr {
  width: 617px;
  float: left;
  border: 5px solid #ffffff;
  height: 0px;
}
