.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Page Layout and Themes*/
.headliner {
  font-size: 50px;
  font-weight: bold;
  line-height: 59px;
  margin-top: 0px;
}

.primary {
  color: #169fff;
}

.secondary {
  color: #a452ff;
}

.section {
  width: 90%;
  height: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 0px 5px 0px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.col-2 {
  width: 42%;
}

/* Components*/

/* Stats Component */
.stats > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.stats > ul > li {
  width: 30%;
}

.stats > ul > li > span {
  font-size: 48px;
  font-weight: bold;
}

.stats > ul > li {
  font-size: 32px;
}

.stats > ul > li > hr {
  border: 4px solid;
}
